In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('game_ratings.csv')

In [9]:
df.head()

   game_id         user  rating
0        1     jackcres    10.0
1        1     FuManchu    10.0
2        1        HankM    10.0
3        1  jonnypolite    10.0
4        1     pwotruba    10.0

In [12]:
pivot = pd.pivot_table(df, index=['user'], values=['rating'], aggfunc='count')
pivot.sort_values('rating', ascending=False).head(10)

              rating
user
stoneart69       377
ryansmum2008     375
Doel             375
JasonSaastad     374
Pandorzecza      373
Gibmaatsuki      372
leffe dubbel     372
we3die           361
vincivader       350
pete100          348