File built on the mechanics file

In [16]:
import requests
from lxml import etree
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time
import sqlite3
import statsmodels.formula.api as smf

In [17]:
con = sqlite3.connect('bgg.db')
cur = con.cursor()

In [18]:
query = '''
 SELECT t1.id, title, CAST(avg_rating AS FLOAT64) avg_rating, CAST(avg_bayes_rating AS FLOAT64),
        CAST(std as FLOAT64) std, category, mechanic, ratings, year
 
 FROM TOP_GAMES_FULL t1
   LEFT JOIN BGG_CATEGORIES t2
     ON t1.id = t2.id
   LEFT JOIN BGG_MECHANICS t3
       ON t1.id = t3.id
     
ORDER BY avg_rating DESC
'''

results = cur.execute(query)
result_li = [elem for elem in results.fetchall()]

In [19]:
df = pd.DataFrame(result_li)
df.columns = ['game_id','title','rating','bayes_rating','std','category','mechanic', 'ratings', 'year']
df.head()

,game_id,title,rating,bayes_rating,std,category,mechanic,ratings,year
0,169427,middara_unintentional_malum_act_1,8.86084,6.75708,1.58086,Adventure,Action Points,1363,2019
1,169427,middara_unintentional_malum_act_1,8.86084,6.75708,1.58086,Adventure,Cooperative Game,1363,2019
2,169427,middara_unintentional_malum_act_1,8.86084,6.75708,1.58086,Adventure,Dice Rolling,1363,2019
3,169427,middara_unintentional_malum_act_1,8.86084,6.75708,1.58086,Adventure,Grid Movement,1363,2019
4,169427,middara_unintentional_malum_act_1,8.86084,6.75708,1.58086,Adventure,Hand Management,1363,2019

In [20]:
df.to_csv('game_info.csv')

In [4]:
query = '''
 SELECT t1.id, title, CAST(avg_rating AS FLOAT64) avg_rating, CAST(avg_bayes_rating AS FLOAT64),
        CAST(std as FLOAT64) std, category
 
 FROM TOP_GAMES_FULL t1
   LEFT JOIN BGG_CATEGORIES t2
     ON t1.id = t2.id
     
ORDER BY avg_rating DESC
'''

results = cur.execute(query)
result_li = [elem for elem in results.fetchall()]

In [5]:
df = pd.DataFrame(result_li, columns = ['id', 'Title','Score', 'BayesScore', 'StdDev', 'Category'])